// Typography
@mixin title {
  color: $color-neutral-darkest;
  font-size: $font-size-title;
  font-weight: 600;
  line-height: $line-height-tight;
  letter-spacing: -0.0125em;
}

@mixin heading {
  color: $color-yellow-darkest;
  font-size: $font-size-heading;
  font-weight: 500;
  line-height: $line-height-tight;
}

@mixin subhead {
  color: $color-neutral-dark;
  font-size: $font-size-subhead;
  font-weight: 600;
  line-height: $line-height-tight;
}

@mixin lede {
  color: $color-neutral-dark;
  font-size: $font-size-lede;
  hanging-punctuation: first;
  hyphens: auto;
  letter-spacing: -0.0125em;
  line-height: $line-height-tight;
}

@mixin text {
  color: $color-neutral-darkest;
  font-size: $font-size-text;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: $line-height-loose;
}

@mixin caption {
  color: $color-neutral-dark;
  font-size: $font-size-caption;
  line-height: $line-height-tight;
}

@mixin label {
  font-size: $font-size-text;
  font-weight: 500;
  line-height: $line-height-tight;
}

// Text styles
@mixin text-decoration {
  -webkit-text-decoration-color: var(--color-link-underline);
  text-decoration-color: var(--color-link-underline);

  &:hover {
    -webkit-text-decoration-color: var(--color-accent);
    text-decoration-color: var(--color-accent);
  }
}

// Layout
@mixin container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding-right: $space-small;
  padding-left: $space-small;
}

// Accessibility
@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

@mixin focus {
  border-color: $color-yellow-darkest;
  box-shadow: 0 0 0 2px $color-focus;
  outline: 0;
}
