<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="{% if page.title %}{{ page.title | smartify }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" name="description" content="{% if page.description %}{{ page.description | smartify }}{% else %}{{ site.description | smartify }}{% endif %}">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  <meta property="og:image" content="{{ site.icon | prepend: site.url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="{{ site.theme_color }}">

  <link rel="apple-touch-icon" href="{{ site.icon }}" type="image/png">
  <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">
  <link rel="alternate" href="{{ '/feed.xml' | relative_url }}" type="application/atom+xml" title="{{ site.title }}">
  <link rel="alternate" href="{{ '/feed.json' | relative_url }}" type="application/json" title="{{ site.title }}">
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <title>{% if page.title %}{{ page.title | smartify }} - {% endif %}{{ site.title }}</title>
</head>

<body>
{% include banner.html %}
{% include main.html %}
{% include footer.html %}
</body>
</html>
